@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Monda:wght@400..700&display=swap');

@font-face {
    font-family: 'Android';
    src: url('../fontes/idroid.otf') format('opentype');
    font-weight: normal;
}

:root{
    --background: #B7E2C2;
    --header: #66D483;
    --header2: #80C994;
    --titulo1: #34A853;
    --titulo2: #55c372; 

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Monda', sans-serif;
    --fonte-android: 'Android', cursive; 
}

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: var(--background);
}

a.externo:after{
    content: '\1F517';
}

header{
    background-image: linear-gradient(to bottom, var(--header), var(--header2));
    color: white;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

header > h1{
    font-family: var(--fonte-destaque);
    font-weight: bolder;
    font-size: 3em;
    margin-bottom: 20px;
    text-shadow: 3px 4px 10px #00000087;
}

header > p{
    font-family: var(--fonte-destaque);
    font-weight: normal;
    font-size: 1.2em;
    max-width: 700px;
    margin: auto;
    padding-right: 30px;
    padding-left: 30px;
    text-shadow: 3px 4px 10px #00000087;
}

nav{
    background-color: #186813;
    font-family: var(--fonte-padrao);
    color: white;
    font-weight: bold;
    padding: 10px;
    box-shadow: 0px 8px 20px 0px #00000094;
}

nav > a{
    color: white;
    font-family: var(--fonte-destaque);
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
    transition-duration: 0.3s;
}

nav >a:hover{
    background-color: var(--header2);
}


main{
    background-color: white;
    max-width: 800px;
    min-width: 300px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.456);
}

main h1{
    font-family: var(--fonte-android);
    color: var(--titulo1);
    font-weight: normal;
}

main h2{
    font-family: var(--fonte-android);
    color: var(--titulo2);
    font-weight: normal;
    font-size: 1em;
    background-image: linear-gradient(to right, rgb(128, 0, 105), transparent);
    text-indent: 8px;
}

main p{
    font-family: var(--fonte-padrao);
    color: black;
    font-weight: normal;
    margin: 15px 0px 15px 0px;
    text-align: justify;
    text-indent: 30px;
    line-height: 1.5em;
}

main strong{
    color: black;
    font-weight: bold;
}

main a{
    text-decoration: none;
    font-weight: bold;
    color: black;
    background-color: var(--header2);
    padding: 2px 2px;
}

main a:hover{
    text-decoration: underline;
    color: var(--titulo1);
}

main img{
    width: 100%;
}

main img.pequena{
    max-width: 350px;
    display: block;
    margin: auto;
}

div.video{
    background-color: #186813;
    margin-bottom: 30px;
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 58.5%;
    position: relative;
}

div.video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

aside{
    background-color: var(--header2);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.43);
}

aside > ul{
    list-style-type: '\2705\00a0\00a0';/* o código "\00a0" não é compatível com todos os navegadores*/
    font-family: var(--fonte-padrao);
    list-style-position: inside;
    columns: 2;
}

aside > h3{
    font-family: var(--fonte-padrao);
    color: white;
    background-color: var(--titulo1);
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 5px 5px 0px 0px;
    text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.66);
}

footer{
    background-color: var(--header);
    font-family: var(--fonte-destaque);
    font-size: 0.8em;
    color: white;
    text-align: center;
    padding: 5px;
}

footer a{
    color: white;
    font-weight: bolder;
    text-decoration: none;
}

footer a:hover{
    text-decoration: underline;
    color: var(--titulo1);
}